*{
    font-family: sans-serif;
}
/*Home styles*/
.bg-custom{
    background-color: black;
    z-index: 1;
}
.nav-link{
    color: red !important;
    font-size: 20px
    
}
.nav-link:hover{
    transition: 0.5s;
    color: white;
    border-bottom: 1px solid white !important;
}

.nav-link-logo{
    color: red !important;
    font-size: 30px;
    padding-right: 10px;
}

.nav-border{
    border-bottom: 1.5px solid red;
}
.nav-link-logo:hover{
    transition: 0.75s;
    color: white;
    border-right: 1px solid white !important;
}
.toggle-colour
{
    color: red;
}

.footer {
    
    
border-top: 1px solid red;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;

    
}
.Footer-nav-main
{
    flex-direction: row !important;
    justify-content: center;
}

.Footer-nav
{
    padding-right: 20px;
}
.venueselect {
    padding-top: 20px
}

.card {
    margin-bottom: 20px
}
.card-decor{
    box-shadow: 2px 2px black;
}

.btn-custom{
    background-color: red !important;
    border-color: black !important;
}

.VenueWrapper{
    padding-top: 20px;
    
}
.Venue-title{
    color: white;
    
}
body
{
    background-color: #6b0404!important;
}

#home{
    display:contents;
}
/*venue contact*/
#contact-card{
    
    margin-top: 10%;
    width: 360px;
    border-radius: 20px;
    
        
    background-color: white;
}
.title-padding
{
    padding-top: 30px;
}
#venue{display: none;}
#venue-title{padding-top: 10px}
#Details{padding-bottom: 10px}
#Findus-title{padding-top: 10px}
#map{height: 400px;
width: 360px;}




@media only screen and (max-width: 991px) {
    
    
    .nav-link:hover{
    justify-self: center;
    }
    
    .nav-link{
    color: white !important;
    font-size: 15px;
    }
    
    .colapse-padding{
    padding-right: 90%;
    }
    .Venue-title{
    color: white;
        font-size: 40px
}
    .footer{
        position: relative;
        background-color: black;
    }
    
    

}



@media only screen and (max-width: 600px) {
    
    .Footer-nav-main
    {
    flex-direction: column!important;
    justify-content: center;
    }
    
    .Footer-nav
    {
    padding-right: 20px;
    }
    
    #contact-card{
    
    padding-top: 40px;
    width: 90%;
    background-color: white;
    min-width: null;
}
    #map{height: 400px;
width: 100%;}

}
